.logo{
	align-items: center;display: flex;margin: 4px;
}

.logo img{
	width:40px;height: 40px;
}

header{
	font-size: 14px;
}

.logo span{
	font-size: 24px;padding-left: 5px;
}

.footer{
	text-align: center;font-size: 14px;
}

.container{

}

		

.pc_news_container{
	margin: 10px auto;
}

/* For demo */
.leftContainer, .carousel{
	width: 380px;float: left;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.tabs_news{
	float: left;
	width: 400px;
	margin: 0 10px;
}

.imageblock{
	float: left;margin:0 10px 10px 0; 
}